.App {
width: 70rem;
max-width: 90%;
margin: 2rem auto;
}


.noPosts{
  width: 100%;
  border: 1px solid bisque;
  padding: 10px 30px;
  background-color: rgba(219, 169, 107, 0.377);
  color: rgb(170, 97, 9);
  border-radius: 6px;
}